/**
 * @file
 * Subtheme specific CSS.
 */

#navbar-main, #navbar-main>.navbar-brand {
	background-color: rgba(0,45,89)!important;
	padding-bottom: 0;
}

#block-upjv-footer>ul {
	display: ruby;
}

#block-upjv-footer>ul>li {
	padding-left:15px;
}


.navbar-brand img {
	height:2rem;
}

.navbar-brand:hover, .navbar-brand:visited, .navbar-brand {
	color: #fff;
	font-size: 1em;
	vertical-align: bottom;
}

.region-first-footer, .region-footer {
	background-color: rgba(0,45,89)!important;
	margin:0!important;
	padding: 0 1.5rem;
}

#block-upjv-main-menu {
	margin-left: auto;
}
#block-upjv-footer {
	margin: 0 0 0 auto;
}

.navbar-nav a {
	color: #bbb;
}

.navbar-nav a:hover, .navbar-nav a.is-active {
	color:#fff;
}

.carousel-caption {
    background-color: rgba(0, 0, 255, 0.5);
}

.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


#block-upjv-account-menu {
	margin: 0 0 0 auto!important;
}

#block-upjv-main-menu {
	color: black!important;
}

.dropdown-menu {
background-color: rgba(0, 45, 89, 0.85);
}

.nav-item a {
color:white!important;
}
.onglet>a {
color: rgba(0,45,89)!important;
}
.onglet>a:hover {
color: #17a2b8!important;
}

.dropdown-item a:hover {
background-color:#17a2b8!important;
}

.dropdown-item:hover {
background-color:transparent!important;
}

.float-right {
	margin: 0 0 0 auto;
}

.clearfix>a {
	color:white!important;
}


#block-copyright {
	margin: 0 auto;
}

#block-adressemaster {
    color: white;
    padding: 0.8rem 0;
}